.App {
  text-align: center;
}

.grid-and-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid-container {
  display: inline-block;
  border: 1px solid black;
  margin-right: 20px;
  background-color: #f8f8f8;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 25px;
}

.zero {
  background-color: rgb(56,82,184)
}
/* background-color: rgb(58, 58, 23) */
.one {
  background-color: rgb(190, 145, 77)
}

.two {
  background-color: green;
}

.active {
  outline: 3px solid red;
}

.shift-active {
  outline: 2px solid gold;
}

.emphasized {
  outline: 5px solid red !important;
}

.stack-container {
  border: 1px solid black;
  padding: 10px;
  height: 600px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stack-header {
  text-align: center;
}

.stack-content {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.stack-item {
  padding: 5px;
  border: 1px solid darkgray;
  margin-top: 5px;
  background-color: #E8F8F5;
}
.outlined {
  outline: 5px solid darkslategrey;
}

.control-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}

.control-panel input {
  margin-bottom: 10px;
}

.control-panel button {
  margin-bottom: 10px;
}

.grid-and-stack {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.stack-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.stack-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack-content {
  margin-top: 10px;
}

.cell {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 200%;
}

.row {
  display: flex;
}